body{
    display: grid;
    place-items: center;
}

#opText{
    width:  380px;
    height: 110px; 
}

#calcUi{
    width:  380px;
    height: 330px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.square{
    background-color: rgb(197, 197, 197);
    margin: 5px;
    display: grid;
    place-items: center;
    border-radius: 8px;
}
.square:hover{
    background-color: rgb(124, 148, 179);
}
.square:active {
    transform: scale(0.95);
    transition: transform 0.2s;
  }
